@import "@fontsource/montserrat";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/400.css";

@import "@fontsource/inter-tight";
@import "@fontsource/inter-tight/500.css";



:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0D0D0D;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

/* hero-section */
.hero-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-left-text {
  background-image: linear-gradient(
    180deg,
    #fff -16.21%,
    rgba(255, 255, 255, 0) 273.66%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Vision */

.heading {
  background-image: linear-gradient(
    282deg,
    #fff -24.49%,
    rgba(255, 255, 255, 0) 173.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vision-para {
  background-image: linear-gradient(
    299deg,
    #fff -16.21%,
    rgba(255, 255, 255, 0) 273.66%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Consultancy */

/* .animation-conatiner-1 {
  background-image: linear-gradient(
    169deg,
    rgba(255, 255, 255, 0) 20.5%,
    rgba(255, 255, 255, 0.05) 75.84%
  );
  background-color: #42424205;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid #ffffff29;
  position: relative;
} */
.gradient-wrapper{
  background: radial-gradient(100% 50% at center, #0D0D0D, #0D0D0D);
}
picture{ 
  /* top: 0px; */
  position:absolute;
  width: 870px;
  height: 565px;
  margin: 0;
  left: 50.5%;
  transform: translate(-50%, -50%);
  transform: translate(-50%);

}

section{
  margin-top: 15vh
}

.projects_wrapper>img{
  border-radius: 15px;
}

.gradient-black{
  background: rgb(#0D0D0D);
  background: linear-gradient(180deg, rgba(#0D0D0D) 0%, rgba(#0D0D0D) 35%, rgba(#0D0D0D) 89%);
}
.gradient-black_1{
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,0) 35%, rgba(0,0,0,1) 89%);
}
.gradient-black_2{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255,255,255,0) 35%, rgba(0,0,0,1) 89%);
}
.canvas-container {
  width: 100%;
  height: 100%; 
  display: block;
  display: flex;
  justify-content: center; 
}


.cursor {
  position: absolute;
  background-color: black;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  z-index: 999;
  user-select: none;
  pointer-events: none;
  transform: scale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-out; 
  
}

.cursor-text {
  font-size: 5px;
  color: white; /* Optional: make the text readable */
  pointer-events: none; /* Ensures the text does not interfere with the mouse events */
}

.cardborder{
  border-top:#ffffff0a 1px solid  ;
 
}
.borderdown{
  border-bottom:#ffffff0a 1px solid ;
}